
{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block banner %}

{% endblock %}
{% block maincontent  %}





                <div id="header-bottom-row">
            <div class="container">
                <div class="row">
                    <div class="moduletable   span12">  <div class="nspMain autoanim nspFs100" id="nsp-nsp_209" style="width:100%;" data-direction="ltr">
                    <div class="nspArts bottom" style="width:100%;">
                                
                <div class="nspArtScroll1">
                    <div class="nspArtScroll2 nspPages3">
                            <div class="nspArtPage nspCol3">
                <div class="nspArt nspCol3" style="padding:30px 30px 0 30px;clear:both;">
                                <a href="/" class="nspImageWrapper tleft fleft gkResponsive" style="margin:0 0 20px 0;">
    <img class="nspImage tleft fleft gkResponsive" src="{% static 'images/homepage/1.jpg' %}" alt="Interior Design # 2"   /></a><h4 class="nspHeader tleft fnone"><a href="/" title="Interior Design # 2">Interior Design # 2</a></h4><p class="nspText tleft fleft">Product Description
Lorem ipsum dolor sitamon amet, consectetur adipiscin elitoran. Praesent intorolana posueren felisoma adipisto. Aliquama sedomon araloma estermol augue. Diam eget faucibus ornare, lectus mauris tempus urna, ac tristique ris.... <a class="readon inline" href="">Read more</a></p>                         </div>
                                                                                                                            <div class="nspArt nspCol3" style="padding:30px 30px 0 30px;">
    <a href="" class="nspImageWrapper tleft fleft gkResponsive" style="margin:0 0 20px 0;">



    <img class="nspImage tleft fleft gkResponsive" src="{% static 'images/homepage/2.jpg' %}" alt="Interior Design # 4"   /></a><h4 class="nspHeader tleft fnone"><a href="" title="Interior Design # 4">Interior Design # 4</a></h4><p class="nspText tleft fleft">Product Description
Lorem ipsum dolor sitamon amet, consectetur adipiscin elitoran. Praesent intorolana posueren felisoma adipisto. Aliquama sedomon araloma estermol augue. Diam eget faucibus ornare, lectus mauris tempus urna, ac tristique ris.... <a class="readon inline" href="">Read more</a></p>                         </div>
                                                                                                                            <div class="nspArt nspCol3" style="padding:30px 30px 0 30px;">
                                <a href="" class="nspImageWrapper tleft fleft gkResponsive" style="margin:0 0 20px 0;">



        <img class="nspImage tleft fleft gkResponsive" src="{% static 'images/homepage/2.jpg' %}" alt="Interior Design # 3"   /></a><h4 class="nspHeader tleft fnone"><a href="" title="Interior Design # 3">Interior Design # 3</a></h4><p class="nspText tleft fleft">Product Description
Lorem ipsum dolor sitamon amet, consectetur adipiscin elitoran. Praesent intorolana posueren felisoma adipisto. Aliquama sedomon araloma estermol augue. Diam eget faucibus ornare, lectus mauris tempus urna, ac tristique ris.... <a class="readon inline" href="/">Read more</a></p>                         </div>
                                                </div>
                        <div class="nspArtPage nspCol3">
                                                                                                                            <div class="nspArt nspCol3" style="padding:30px 30px 0 30px;clear:both;">
                                <a href="" class="nspImageWrapper tleft fleft gkResponsive" style="margin:0 0 20px 0;">

                                <img class="nspImage tleft fleft gkResponsive" src="{% static 'images/homepage/4.jpg' %}" alt="Home For Rent # 3"   /></a><h4 class="nspHeader tleft fnone"><a href="" title="Home For Rent # 3">Home For Rent # 3</a></h4><p class="nspText tleft fleft">Home Description
Lorem ipsum dolor sitamon amet, consectetur adipiscin elitoran. Praesent intorolana posueren felisoma adipisto. Aliquama sedomon araloma estermol augue. Diam eget faucibus ornare, lectus mauris tempus urna, ac tristique ris.... <a class="readon inline" href="/">Read more</a></p>                          </div>
                                                                                                                            <div class="nspArt nspCol3" style="padding:30px 30px 0 30px;">
                                <a href="" class="nspImageWrapper tleft fleft gkResponsive" style="margin:0 0 20px 0;">

                <img class="nspImage tleft fleft gkResponsive" src="{% static 'images/homepage/5.jpg' %}" alt="Interior Design # 5"   /></a><h4 class="nspHeader tleft fnone"><a href="" title="Interior Design # 5">Interior Design # 5</a></h4><p class="nspText tleft fleft">Product Description
Lorem ipsum dolor sitamon amet, consectetur adipiscin elitoran. Praesent intorolana posueren felisoma adipisto. Aliquama sedomon araloma estermol augue. Diam eget faucibus ornare, lectus mauris tempus urna, ac tristique ris.... <a class="readon inline" href="">Read more</a></p>                         </div>
                                                                                                                            <div class="nspArt nspCol3" style="padding:30px 30px 0 30px;">
                                <a href="/" class="nspImageWrapper tleft fleft gkResponsive" style="margin:0 0 20px 0;">
                    <img class="nspImage tleft fleft gkResponsive" src="{% static 'images/homepage/6.jpg' %}" alt="Exterior and Garden # 2"   /></a><h4 class="nspHeader tleft fnone"><a href="" title="Exterior and Garden # 2">Exterior and Garden # 2</a></h4><p class="nspText tleft fleft">Description
Lorem ipsum dolor sitamon amet, consectetur adipiscin elitoran. Praesent intorolana posueren felisoma adipisto. Aliquama sedomon araloma estermol augue. Diam eget faucibus ornare, lectus mauris tempus urna, ac tristique ris. Curabitur... <a class="readon inline" href="">Read more</a></p>                           </div>
                                                </div>
                        <div class="nspArtPage nspCol3">
                                                                                                                            <div class="nspArt nspCol3" style="padding:30px 30px 0 30px;clear:both;">
                                <a href="" class="nspImageWrapper tleft fleft gkResponsive" style="margin:0 0 20px 0;">
        <img class="nspImage tleft fleft gkResponsive" src="{% static 'images/homepage/7.jpg' %}" alt="Home For Sale Lot # 1"   /></a><h4 class="nspHeader tleft fnone"><a href="" title="Home For Sale Lot # 1">Home For Sale Lot # 1</a></h4><p class="nspText tleft fleft">Home Description
Lorem ipsum dolor sitamon amet, consectetur adipiscin elitoran. Praesent intorolana posueren felisoma adipisto. Aliquama sedomon araloma estermol augue. Diam eget faucibus ornare, lectus mauris tempus urna, ac tristique ris.... <a class="readon inline" href="">Read more</a></p>                         </div>
                                                                                                                            <div class="nspArt nspCol3" style="padding:30px 30px 0 30px;">
                                <a href="" class="nspImageWrapper tleft fleft gkResponsive" style="margin:0 0 20px 0;">
                    <img class="nspImage tleft fleft gkResponsive" src="{% static 'images/homepage/8.jpg' %}" alt="Exterior and Garden # 1"   /></a><h4 class="nspHeader tleft fnone"><a href="" title="Exterior and Garden # 1">Exterior and Garden # 1</a></h4><p class="nspText tleft fleft">Description
Lorem ipsum dolor sitamon amet, consectetur adipiscin elitoran. Praesent intorolana posueren felisoma adipisto. Aliquama sedomon araloma estermol augue. Diam eget faucibus ornare, lectus mauris tempus urna, ac tristique ris. Curabitur... <a class="readon inline" href="">Read more</a></p>                           </div>
                                                                                                                            <div class="nspArt nspCol3" style="padding:30px 30px 0 30px;">
                                <a href="" class="nspImageWrapper tleft fleft gkResponsive" style="margin:0 0 20px 0;">
                <img class="nspImage tleft fleft gkResponsive" src="{% static 'images/homepage/9.jpg' %}" alt="Home For Sale Lot # 3"   /></a><h4 class="nspHeader tleft fnone"><a href="" title="Home For Sale Lot # 3">Home For Sale Lot # 3</a></h4><p class="nspText tleft fleft">Home Description
Lorem ipsum dolor sitamon amet, consectetur adipiscin elitoran. Praesent intorolana posueren felisoma adipisto. Aliquama sedomon araloma estermol augue. Diam eget faucibus ornare, lectus mauris tempus urna, ac tristique ris.... <a class="readon inline" href="">Read more</a></p>                         </div>
                                                </div>
                                                                </div>
                </div>  
            </div>
                    </div>

<script type="text/javascript">
//<![CDATA[
try {$Gavick;}catch(e){$Gavick = {};};
$Gavick["nsp-nsp_209"] = {
    "animation_speed": 300,
    "animation_interval": 5000,
    "animation_function": Fx.Transitions.Expo.easeIn,
    "news_column": 3,
    "news_rows": 1,
    "links_columns_amount": 1,
    "links_amount": 3,
    "counter_text": '<strong>Page:</strong>'
};
//]]>
</script>   </div>
                </div>
            </div>
        </div>






















        <div id="custom-content-wrapper">
                            
                <div id="featured-row">
            <div class="container">
                <div class="row">
                    <div class="moduletable position-top  span3"><div class="mod-newsflash mod-newsflash__position-top">
<div class="item">

      <div class="img-intro-none">      
      <a href="/">      
         <img src="{% static 'images/homepage/buy.png' %}" alt=""/>      
      </a>
   </div>



<h2>Buy or Sell</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec facilisis consequat tellus a fermentum. Maecenas convallis, nunc eget porttitor.</p>

<a class="readmore" href="/">Read more ...</a></div>   
</div>
</div><div class="moduletable position-top  span3"><div class="mod-newsflash mod-newsflash__position-top">
<div class="item">

      <div class="img-intro-none">      
      <a href="/">      
         <img src="{% static 'images/homepage/sell.png' %}" alt=""/>      
      </a>
   </div>



<h2>Rent</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec facilisis consequat tellus a fermentum. Maecenas convallis, nunc eget porttitor.</p>

<a class="readmore" href="/">Read more ...</a></div>  
</div>
</div><div class="moduletable position-top  span3"><div class="mod-newsflash mod-newsflash__position-top">
<div class="item">

      <div class="img-intro-none">      
      <a href="/">      
         <img src="{% static 'images/homepage/cash.png' %}" alt=""/>      
      </a>
   </div>



<h2>Loans</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec facilisis consequat tellus a fermentum. Maecenas convallis, nunc eget porttitor.</p>

<a class="readmore" href="/">Read more ...</a></div> 
</div>
</div><div class="moduletable position-top  span3"><div class="mod-newsflash mod-newsflash__position-top">
<div class="item">

      <div class="img-intro-none">      
      <a href="/">      
         <img src="{% static 'images/homepage/tree.png' %}" alt=""/>      
      </a>
   </div>



<h2>Garden</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec facilisis consequat tellus a fermentum. Maecenas convallis, nunc eget porttitor.</p>

<a class="readmore" href="/">Read more ...</a></div>    
</div>
</div>
                </div>
            </div>
        </div>


















                

{% endblock  %}


